:root {
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;

  --bg-color: var(--zinc-800);
  --fg-color: var(--zinc-300);
}


* {
  font-family: system-ui, sans-serif;
  color: var(--fg-color);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: var(--bg-color);
  display: grid;
  grid-template-rows: 100px 1fr;
}

.mainHeader {
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 100%;

  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 6px 2px, rgba(60, 64, 67, 0.3) 0px 2px 6px 2px;
  padding: 16px;

  gap: 32px;
}

.gameHeader {
  width: 600px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

/* Game Controls */
.gameControls#resetButton {
  background-color: transparent;
  border: none;
  font-size: 40px;
  font-weight: 900;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gameControls#resetButton:hover {
  color: var(--zinc-200);
}

.gameControls#resetButton:active {
  color: var(--zinc-50);
}


/* Game Board */
#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
}

#gameBoard>.cell {
  padding: 8px;

  font-size: 200px;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

#gameBoard>.cell:nth-child(3n + 1),
#gameBoard>.cell:nth-child(3n + 2) {
  border-right: 4px solid var(--fg-color);
}

#gameBoard>.cell:nth-child(-n + 6) {
  border-bottom: 4px solid var(--fg-color);
}

.gameScore {
  width: 600px;

  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gameScore>div {
  padding: 4px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.3);
}

.modalContent {
  background-color: var(--zinc-800);
  margin: 50% auto;
  padding: 20px;
  border: none;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  position: relative;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--fg-color);
  font-size: 28px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.closeButton:hover {
  color: var(--zinc-100);
  text-decoration: none;
  cursor: pointer;
}

.closeButton:focus {
  color: var(--zinc-50);
  text-decoration: none;
  cursor: pointer;
}
